# Ignore target directory
target/

# Exclude build artifacts
*.class
*.jar
*.original
*.properties
*.lst
*.xml
*.txt

# Ignore environment and editor files
.env
.DS_Store
.vscode/

# IntelliJ and NetBeans
.idea
*.iml
nbproject/
dist/
build/
.env
